.ourHistory {
  margin-bottom: 122px;
}

.ourHistory__flex {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.ourHistory__block1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 444px;
}

.ourHistory__title {
  color: #000;
  font-family: Tinos;
  font-size: 54px;
  margin-bottom: 21px;
}

.ourHistory__title__span {
  color: #D67E34;
  font-family: Tinos;
}

.ourHistory__text {
  color: #656363;
  font-size: 16px;
  text-align: center;
  margin-bottom: 80px;
}

.ourHistory__list {
  display: flex;
  gap: 35px;
}

.ourHistory__item {
  text-align: center;
}

.ourHistory__item__num {
  color: #BC9060;
  font-size: 40px;
}

.ourHistory__item__text {
  font-size: 20px;
}

.ourHistory__block2 {
  width: 539px;
  height: 498px;
  position: relative;
}

.ourHistory__img1 {
  position: absolute;
  top: 65px;
  z-index: 4;
}

.ourHistory__img2 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.ourHistory__img3 {
  position: absolute;
  top: 0;
  right: 94px;
  z-index: 2;
}

.ourHistory__img4 {
  position: absolute;
  top: 34px;
  right: 42px;
  z-index: 1;
}

@media (max-width: 960px) {
  .ourHistory {
    margin-bottom: 80px;
  }

  .ourHistory__block1 {
    max-width: 240px;
  }

  .ourHistory__title {
    font-size: 38px;
    margin-bottom: 10px;
  }

  .ourHistory__text {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .ourHistory__list {
    gap: 25px;
  }

  .ourHistory__item__num {
    font-size: 25px;
  }

  .ourHistory__item__text {
    font-size: 14px;
  }

  .ourHistory__block2 {
    width: 320px;
    height: 300px;
  }

  .ourHistory__img1 {
    width: 150px;
    top: 37px;
  }

  .ourHistory__img2 {
    width: 160px;
  }

  .ourHistory__img3 {
    width: 160px;
    right: 75px;
  }

  .ourHistory__img4 {
    width: 140px;
    top: 20px;
  }
}

@media (max-width: 545px) {
  .ourHistory {
    margin-bottom: 50px;
  }

  .ourHistory__flex {
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }

  .ourHistory__block1 {
    max-width: 290px;
  }

  .ourHistory__title {
    max-width: 190px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 48px;
  }

  .ourHistory__text {
    font-size: 16px;
    margin-bottom: 106px;
  }

  .ourHistory__list {
    flex-direction: column;
    gap: 20px;
  }

  .ourHistory__item__num {
    font-size: 40px;
  }

  .ourHistory__item__text {
    font-size: 20px;
  }

  .ourHistory__block2 {
    width: 290px;
    height: 257px;
  }

  .ourHistory__img1 {
    width: 125px;
    top: 33px;
  }

  .ourHistory__img2 {
    width: 137px;
  }

  .ourHistory__img3 {
    width: 137px;
    right: 50px;
  }

  .ourHistory__img4 {
    width: 114px;
    top: 18px;
    right: 22px;
  }
}